.subtitle {
   font-size: 18px;
   margin: 30px 0 0 0;
}
.shop-block {
   display: flex;
   flex-wrap: wrap;
   gap: 0 80px;
}

/* ---------------------------------------- */
.filter-container {
   width: 260px;
   height: 260px;
}
.dropdown {
   display: none;
}
.sidebar {
   display: flex;
   flex-direction: column;
   gap: 5px;
   text-transform: uppercase;
}

/* ---------------------------------------- */
.categoryButton,
.categoryButtonSelected {
   padding: 8px 22px;
   background: #000;
}
.categoryButton {
   color: rgba(255, 255, 255, 0.5);
   cursor: pointer;
}
.categoryButtonSelected {
   border-left: 2px solid #fff;
   color: #fff;
   cursor: pointer;
   padding: 8px 20px;
}
.categoryButton:hover {
   color: #ffe81f;
}

/* ---------------------------------------- */
.product-list,
.product-block {
   display: flex;
}
.product-list {
   flex-wrap: wrap;
   gap: 45px;
   width: 1100px;
}
.product-block {
   background: #1d1e1f;
   border-radius: 8px;
   padding: 0 0 35px 0;
   width: 240px;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 10px;
}
.product-block h5 {
   color: #ffe81f;
}
.product-img {
   width: 240px;
   border-radius: 8px 8px 0 0;
}
.product-info {
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding: 15px 25px 10px 25px;
}
.product-info h6 {
   text-transform: capitalize;
}
.product-block .button-main {
   width: 190px;
   font-size: 15px;
}

@media all and (min-width: 1200px) and (max-width: 1919.98px) {
   .product-list {
      max-width: 1000px;
      gap: 65px;
   }
   .filter-container {
      flex: 1;
      height: auto;
      margin-bottom: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }
   .sidebar {
      background: none;
      flex-direction: row;
      justify-content: center;
      gap: 0;
   }
   .categoryButton,
   .categoryButtonSelected {
      flex: 1;
      text-align: center;
      padding: 14px 20px;
   }
   .categoryButtonSelected {
      border-left: none;
      border-bottom: 2px solid #fff;
   }
   .product-block {
      width: 290px;
   }
   .product-img {
      width: 290px;
   }
}

@media all and (min-width: 992px) and (max-width: 1199.98px) {
   .subtitle {
      font-size: 16px;
      margin: 20px 0 0 0;
   }
   .product-list {
      max-width: 800px;
      gap: 54px;
   }
   .filter-container {
      flex: 1;
      height: auto;
      margin-bottom: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }
   .sidebar {
      background: none;
      flex-direction: row;
      justify-content: center;
      gap: 0;
      font-size: 14px;
   }
   .categoryButton,
   .categoryButtonSelected {
      flex: 1;
      text-align: center;
      padding: 12px 18px;
   }
   .categoryButtonSelected {
      border-left: none;
      border-bottom: 1px solid #fff;
   }
   .product-block {
      width: 230px;
   }
   .product-img {
      width: 230px;
   }
}

@media all and (min-width: 768px) and (max-width: 991.98px) {
   .product-list {
      max-width: 680px;
      gap: 80px;
   }
   .sidebar {
      display: none;
   }
   .dropdown {
      display: block;
   }
   .filter-container {
      flex: 1;
      height: auto;
      margin-bottom: 50px;
   }
   .product-block {
      width: 300px;
   }
   .product-img {
      width: 300px;
   }
}

@media all and (min-width: 576px) and (max-width: 767.98px) {
   .sidebar {
      display: none;
   }
   .dropdown {
      display: block;
   }
   .filter-container {
      flex: 1;
      height: auto;
      margin-bottom: 50px;
   }
   .product-list {
      max-width: 500px;
   }
   .product-block {
      width: 500px;
   }
   .product-img {
      width: 500px;
   }
}

@media all and (max-width: 575.98px) {
   .sidebar {
      display: none;
   }
   .dropdown {
      display: block;
   }
      .filter-container {
      flex: 1;
      height: auto;
      margin-bottom: 40px;
   }
   .product-list {
      justify-content: center;
      max-width: 350px;
   }
   .product-block {
      width: 350px;
   }
   .product-img {
      width: 350px;
   }
}
