.character-wrapper {
   margin: 100px 0;
}
.character-list,
.character-list li {
   display: flex;
}
.character-list {
   flex-wrap: wrap;
   justify-content: center;
   gap: 70px;
}
.character-list li {
   flex-direction: column;
   align-items: center;
   gap: 30px;
}
.character-click {
   cursor: pointer;
}
.spinner-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
}